{% extends "../../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">Record a recall</span>
    No cases have been selected
  </h1>

  <p class="govuk-body">
    You must select at least one active court case that had an outstanding SLED or LED on the date of revocation.
  </p>

  <p class="govuk-body">
    The revocation date entered is <strong>{{ revocationDate | formatDate('DD MMMM YYYY') }}</strong>.
  </p>

  <h2 class="govuk-heading-m">What to do next</h2>

  <p class="govuk-body">
    Check the date of revocation is correct, and if not,
    <a class="govuk-link govuk-link--no-visited-state"
       href="{{ resetToRevocationDateUrl }}"
       data-qa="revocation-link">update the revocation date</a>.
  </p>

  <p class="govuk-body">
    Go back through the court cases again and
    <a class="govuk-link govuk-link--no-visited-state"
       href="{{ resetToManualInterceptUrl }}"
       data-qa="back-link">check for relevant sentences</a>.
  </p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Cancel recall",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      type: "reset",
      href: cancelLink,
      attributes: { "data-qa": "cancel-link" }
    }) }}
  </div>
{% endblock %}
