{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<div id="sentences" class="govuk-!-margin-top-8">
  {% for sentence in sentences %}
    <h2 class="govuk-heading-m">{{ sentence.caseReference }}</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: { text: "Sentence Type" },
          value: { text: sentence.sentenceTypeDescription }
        },
        {
          key: { text: "Sentence Date" },
          value: { text: sentence.sentenceDate }
        },
        {
          key: { text: "Offence" },
          value: { text: sentence.offence.offenceCode + ' ' + sentence.offence.offenceDescription }
        }
      ]
    }) }}
  {% endfor %}
</div>
