{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro unknownPreRecallTypePanel(nomsId) %}
  <div class="govuk-inset-text govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-m">
      Record a recall
    </h2>

    <p class="govuk-body">
      Some information has changed. Check that all information is up to date then record a recall.
    </p>

    {{ govukButton({
      text: "Record a recall",
      preventDoubleClick: true,
      href: '/person/' + nomsId + '/recall/create/start',
      attributes: { 'data-qa': 'create-new-recall-btn' }
    }) }}

  </div>
{% endmacro %}