{% extends "../prisonerBannerBackLayout.njk" %}

{% block pageContent %}
  <h1 class="govuk-heading-l" data-qa="main-heading">There are no sentences recorded</h1>
  <p class="govuk-body" data-qa="main-text">
    To record a recall you must enter active sentence information in
    <a href="{{ rasDashboardUrl }}" data-qa="court-cases-link">court cases</a>
    and try again
  </p>
{% endblock %}
