{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - person home" %}
{% set pageId = "person-home" %}

{% block content %}
  <h1 class="govuk-heading-xl" id="person-homepage-heading">Recalls</h1>
  <table id="person-recalls-table" data-qa="person-recalls-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-font-size-16">Recall date</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-16">Return to custody date</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-16">Recall type</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body govuk-body-s">
    {% for recall in recalls %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {{ recall.recallDate | date  }}
        </td>
        <td class="govuk-table__cell">
          {{ recall.returnToCustodyDate | date  }}
        </td>
        <td class="govuk-table__cell">
          {{ recall.recallType.description }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
