{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmpps/components/court-cases-release-dates/sub-navigation/macro.njk" import subNavigation %}
{% from "hmpps/components/court-cases-release-dates/things-to-do/macro.njk" import thingsToDo %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}

{% set pageTitle = applicationName + " - person home" %}
{% set pageId = "person-home" %}

{% block beforeContent %}
  {{ super() }}
  {{ subNavigation(serviceDefinitions.services, 'recalls') }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Recalls</h1>
    {{ thingsToDo(serviceDefinitions, 'recalls') }}

      <p data-qa="no-recalls-hint">There are no recalls recorded.</p>

      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Record a recall",
        preventDoubleClick: true,
        href: '/person/' + nomsId + '/recall/create/start',
        attributes: { 'data-qa': 'create-new-recall-btn' }
      }) }}
  </div>
</div>
{% endblock %}
