{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set title = "Enter the date of revocation" %}
{% set pageTitle = applicationName + " - " + title %}
{% set pageCaption = "Edit a recall" if isEditRecall else "Record a recall" %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set revocationDateError = validationErrors | findError('revocationDate') %}
        
        {# Extract date parts from formResponses #}
        {% set revocationDateDay = formResponses['revocationDate-day'] if formResponses else "" %}
        {% set revocationDateMonth = formResponses['revocationDate-month'] if formResponses else "" %}
        {% set revocationDateYear = formResponses['revocationDate-year'] if formResponses else "" %}

        {{ govukDateInput({
            id: "revocationDate",
            namePrefix: "revocationDate",
            hint: {
                text: "For example, 27 3 2007"
            },
            errorMessage: revocationDateError,
            items: [
                {
                    name: "day",
                    classes: "govuk-input--width-2",
                    value: revocationDateDay,
                    attributes: {
                        inputmode: "numeric"
                    }
                },
                {
                    name: "month",
                    classes: "govuk-input--width-2",
                    value: revocationDateMonth,
                    attributes: {
                        inputmode: "numeric"
                    }
                },
                {
                    name: "year",
                    classes: "govuk-input--width-4",
                    value: revocationDateYear,
                    attributes: {
                        inputmode: "numeric"
                    }
                }
            ]
        }) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true,
                attributes: { id: "submit" }
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: cancelUrl
            }) }}
        </div>
    </form>
{% endblock %}