{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - ask fixed term recall question" %}
{% set pageId = "ask-ftr-question" %}


{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/person/" + nomsId + "/check-sentences"
    }) }}
  </nav>
{% endblock %}

{% block content %}
  {% if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}

  <form method="post" action="/person/{{ nomsId }}/recall-entry/ask-ftr-question">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukRadios({
      id: "isFixedTermRecall",
      name: "isFixedTermRecall",
      fieldset: {
        legend: {
          html: '<h1 class="govuk-heading-l govuk-!-margin-bottom-0"><span class="govuk-caption-l">Record a recall</span>Is this a fixed-term recall?</h1>',
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: true,
          text: "Yes"
        },
        {
          value: false,
          text: "No"
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: submit,
        preventDoubleClick: true,
        attributes: { 'data-qa': 'submit-ask-ftr-question' }
      }) }}

      {{ govukButton({
        text: "Cancel",
        preventDoubleClick: true,
        attributes: { 'data-qa': 'cancel-ask-ftr-question' },
        href: "/person/" + nomsId
      }) }}
    </div>
  </form>
{% endblock %}
