{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "check-information" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {{ govukBackLink({
      text: "Back",
      href: "/person/" + nomsId + "/recall-entry/enter-return-to-custody-date"
    }) }}
  </nav>
{% endblock %}

{% block content %}
{% if crdError %}
  {{ govukWarningText({
    text: "There was an error when calculating temporary release dates",
    iconFallbackText: "Warning"
  }) }}
  {% endif %}
  {% if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}

  {% if not latestCalculation.calculationRequestId and latestCalculation.source == 'NOMIS' %}
  <article class="moj-ticket-panel" aria-label="Sub navigation 1">

      <section class="moj-ticket-panel__content moj-ticket-panel__content--grey govuk-!-margin-bottom-8" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Temporary calculation required</h2>
        <p class="govuk-body">The latest calculation was performed in NOMIS, a temporary calculation is needed (but not yet implemented)</p>
      </section>

  </article>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l" id="check-sentence-heading">
        Grouped Sentences for Recall Date: {{ recallDate | date }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
      <a href="/person/{{ nomsId }}/recall-entry/view-all-sentences" class="govuk-link">View raw sentence data</a>
    </div>
  </div>

  {% if groupedSentences.onLicenceSentences.length > 0 %}
    <h2 class="govuk-heading-m" id="sent-on-licence">On Licence Sentences</h2>
    {{ sentenceTable(groupedSentences.onLicenceSentences) }}
  {% else %}
    <h2 class="govuk-heading-m" id="sent-on-licence">No sentences on licence.</h2>
  {% endif %}

  {% if groupedSentences.activeSentences.length > 0 %}
    <h2 class="govuk-heading-m" id="active-sentences">Active Sentences</h2>
    {{ sentenceTable(groupedSentences.activeSentences) }}
  {% else %}
    <h2 class="govuk-heading-m" id="active-sentences">No active sentences.</h2>
  {% endif %}

  {% if groupedSentences.expiredSentences.length > 0 %}
   <h2 class="govuk-heading-m" id="expired-sentences">Expired Sentences</h2>
    {{ sentenceTable(groupedSentences.expiredSentences) }}
  {% else %}
    <h2 class="govuk-heading-m" id="expired-sentences">No expired sentences.</h2>
  {% endif %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: nextHref
    }) }}

    {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      attributes: { 'data-qa': 'cancel-enter-check-sentences' },
      href: "/person/" + nomsId
    }) }}
  </div>

{% endblock %}



{% macro sentenceTable(sentences) %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Case Sequence</th>
      <th class="govuk-table__header">Line Sequence</th>
      <th class="govuk-table__header">Sentenced At</th>
      <th class="govuk-table__header">Sentence Length</th>
      <th class="govuk-table__header">Consecutive To</th>
      <th class="govuk-table__header">Conditional Release Date (CRD)</th>
      <th class="govuk-table__header">Sentence Expiry Date (SED)</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for sentence in sentences %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ sentence.caseSequence }}</td>
        <td class="govuk-table__cell">{{ sentence.lineSequence }}</td>
        <td class="govuk-table__cell">{{ sentence.sentencedAt }}</td>
        <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
        <td class="govuk-table__cell">{{ sentence.consecutiveTo }}</td>
        <td class="govuk-table__cell">{{ sentence.crd }}</td>
        <td class="govuk-table__cell">{{ sentence.sled }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}
