{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
      <h1 class="govuk-heading-xl" id="check-nomis-heading">Check your answers</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Recall Date" },
            value: { text: recall.recallDate | date },
            actions: {
            items: [
              {
                href: '/person/' + nomsId + '/recall-entry/enter-recall-date',
                text: "Edit",
                visuallyHiddenText: "Recall date"
              }
            ]
          }
          },
          {
            key: { text: "Return to Custody Date" },
            value: { text: recall.returnToCustodyDate | date },
            actions: {
            items: [
              {
                href: '/person/' + nomsId + '/recall-entry/enter-return-to-custody-date',
                text: "Edit",
                visuallyHiddenText: "Return to Custody date"
              }
            ]
          }
          },
          {
            key: { text: "Recall Type" },
            value: { text: recall.recallType.description },
            actions: {
            items: [
              {
                href: '/person/' + nomsId + '/recall-entry/enter-recall-type',
                text: "Edit",
                visuallyHiddenText: "Recall type"
              }
            ]
          }
          }
        ]
      }) }}


      <div class="govuk-button-group">
        <form method="post" action="/person/{{ nomsId }}/recall-entry/check-your-answers">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukButton({
            text: "Confirm",
            type: submit,
            preventDoubleClick: true,
            attributes: { 'data-qa': 'confirm-recall-submission' }
          }) }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}
