{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - check information" %}
{% set pageId = "check-information" %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {% if submitToCheckAnswers %}
      {% set backlinkHref = "/person/" + nomsId + "/recall-entry/check-your-answers" %}
    {% else %}
      {% set backlinkHref = "/person/" + nomsId + "/recall-entry/enter-return-to-custody-date" %}
    {% endif %}
    {{ govukBackLink({
      text: "Back",
      href: backlinkHref
    }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l" id="check-sentence-heading">
        Grouped Sentences for Recall Date: {{ recallDate | date }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
      <a href="/person/{{ nomsId }}/recall-entry/view-all-sentences" class="govuk-link">View raw sentence data</a>
    </div>
  </div>

  {% for caseGroup in groupedSentences %}
    <h2>Case Sequence {{ caseGroup.caseSequence }}</h2>

    {% if caseGroup.sentences.onLicenceSentences.length > 0 %}
      <h3>On Licence Sentences</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Line Sequence</th>
          <th class="govuk-table__header">Sentenced At</th>
          <th class="govuk-table__header">Sentence Length</th>
          <th class="govuk-table__header">Consecutive To</th>
          <th class="govuk-table__header">Conditional Release Date (CRD)</th>
          <th class="govuk-table__header">Sentence Expiry Date (SED)</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for sentence in caseGroup.sentences.onLicenceSentences %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ sentence.lineSequence }}</td>
            <td class="govuk-table__cell">{{ sentence.sentencedAt }}</td>
            <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
            <td class="govuk-table__cell">{{ sentence.consecutiveTo }}</td>
            <td class="govuk-table__cell">{{ sentence.crd }}</td>
            <td class="govuk-table__cell">{{ sentence.sled }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>No sentences on licence.</h3>
    {% endif %}

    {% if caseGroup.sentences.activeSentences.length > 0 %}
      <h3>Active Sentences</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Line Sequence</th>
          <th class="govuk-table__header">Sentenced At</th>
          <th class="govuk-table__header">Sentence Length</th>
          <th class="govuk-table__header">Consecutive To</th>
          <th class="govuk-table__header">Conditional Release Date (CRD)</th>
          <th class="govuk-table__header">Sentence Expiry Date (SED)</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for sentence in caseGroup.sentences.activeSentences %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ sentence.lineSequence }}</td>
            <td class="govuk-table__cell">{{ sentence.sentencedAt }}</td>
            <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
            <td class="govuk-table__cell">{{ sentence.consecutiveTo }}</td>
            <td class="govuk-table__cell">{{ sentence.crd }}</td>
            <td class="govuk-table__cell">{{ sentence.sled }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>No active sentences.</h3>
    {% endif %}

    {% if caseGroup.sentences.expiredSentences.length > 0 %}
      <h3>Expired Sentences</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Line Sequence</th>
          <th class="govuk-table__header">Sentenced At</th>
          <th class="govuk-table__header">Sentence Length</th>
          <th class="govuk-table__header">Consecutive To</th>
          <th class="govuk-table__header">Conditional Release Date (CRD)</th>
          <th class="govuk-table__header">Sentence Expiry Date (SED)</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for sentence in caseGroup.sentences.expiredSentences %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ sentence.lineSequence }}</td>
            <td class="govuk-table__cell">{{ sentence.sentencedAt }}</td>
            <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
            <td class="govuk-table__cell">{{ sentence.consecutiveTo }}</td>
            <td class="govuk-table__cell">{{ sentence.crd }}</td>
            <td class="govuk-table__cell">{{ sentence.sled }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>No expired sentences.</h3>
    {% endif %}

  {% endfor %}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      href: '/person/' + nomsId + '/recall-entry/enter-recall-type'
    }) }}
  </div>

{% endblock %}
