{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {% set recallTypeItems = [] %}
  {% for recallType in recallTypes %}
    {% set recallTypeItems = (recallTypeItems.push({
      value: recallType.code,
      text: recallType.description,
      checked: recall.recallType == recallType.code
    }), recallTypeItems) %}
  {% endfor %}

  <form method="post" action="/person/{{ nomsId }}/recall-entry/enter-recall-type">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukRadios({
      name: "recallType",
      fieldset: {
        legend: {
          text: "What is the recall type?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: recallTypeItems
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: submit,
        preventDoubleClick: true,
        attributes: { 'data-qa': 'submit-enter-recall-type' }
      }) }}
    </div>
  </form>
{% endblock %}
