{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukDateInput({
    id: "returnToCustodyDate",
    namePrefix: "returnToCustodyDate",
    fieldset: {
      legend: {
        text: "What date was this person returned to custody?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 2022"
    }
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      type: submit,
      preventDoubleClick: true,
      href: '/person/' + nomsId + '/recall-entry/check-sentences',
      attributes: { 'data-qa': 'submit-return-to-custody-date' }
    }) }}
  </div>
{% endblock %}
