{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {{ govukRadios({
    name: "recallType",
    fieldset: {
      legend: {
        text: "What is the recall type?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        value: "14_DAY_FTR",
        text: "14 day fixed-term recall"
      },
      {
        value: "28_DAY_FTR",
        text: "28 day fixed-term recall"
      },
      {
        value: "STANDARD_RECALL",
        text: "Standard recall"
      },
      {
        value: "HDC_RECALL",
        text: "HDC recall"
      }
    ]
  }) }}

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Continue",
      type: submit,
      preventDoubleClick: true,
      href: '/person/' + nomsId + '/recall-entry/check-your-answers',
      attributes: { 'data-qa': 'submit-enter-recall-type' }
    }) }}
  </div>
{% endblock %}
