{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    {% if submitToCheckAnswers %}
      {% set backlinkHref = "/person/" + nomsId + "/recall-entry/check-your-answers" %}
    {% else %}
      {% set backlinkHref = "/person/" + nomsId + "/recall-entry/enter-recall-date" %}
    {% endif %}
    {{ govukBackLink({
      text: "Back",
      href: backlinkHref
    }) }}
  </nav>
{% endblock %}

{% block content %}
  {% if errors.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) }}
  {% endif %}

  <form method="post"
        action="/person/{{ nomsId }}/recall-entry/enter-return-to-custody-date{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukDateInput({
      id: "returnToCustodyDate",
      fieldset: {
        legend: {
          html: '<h1 class="govuk-heading-l govuk-!-margin-bottom-0"><span class="govuk-caption-l">Record a recall</span>Enter the date the person returned to custody</h1>',
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          id: 'returnToCustodyDateDay',
          label: 'Day',
          name: "returnToCustodyDate[day]",
          value: recall.returnToCustodyDateForm.day if (recall and recall.returnToCustodyDateForm),
          classes: "govuk-input--width-2",
          attributes: { 'maxlength': 2 }
        },
        {
          id: 'returnToCustodyDateMonth',
          label: 'Month',
          name: "returnToCustodyDate[month]",
          value: recall.returnToCustodyDateForm.month if (recall and recall.returnToCustodyDateForm),
          classes: "govuk-input--width-2",
          attributes: { 'maxlength': 2 }
        },
        {
          id: 'returnToCustodyDateYear',
          label: 'Year',
          name: "returnToCustodyDate[year]",
          value: recall.returnToCustodyDateForm.year if (recall and recall.returnToCustodyDateForm),
          classes: "govuk-input--width-4",
          attributes: { 'maxlength': 4 }
        }
      ],
      hint: {
        text: "For example, 27 3 2022"
      }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: submit,
        preventDoubleClick: true,
        attributes: { 'data-qa': 'submit-return-to-custody-date' }
      }) }}
    </div>
  </form>
{% endblock %}
