{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <form method="post" action="/person/{{ nomsId }}/recall-entry/enter-recall-date{{ "?submitToCheckAnswers=true" if submitToCheckAnswers }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukDateInput({
      id: "recallDate",
      fieldset: {
        legend: {
          text: "What is the recall date for this person?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          id: 'recallDateDay',
          label: 'Day',
          name: "recallDate[day]",
          value: recallDateDay
        },
        {
          id: 'recallDateMonth',
          label: 'Month',
          name: "recallDate[month]",
          value: recallDateMonth
        },
        {
          id: 'recallDateYear',
          label: 'Year',
          name: "recallDate[year]",
          value: recallDateYear
        }
      ],
      hint: {
        text: "For example, 27 3 2022"
      }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        type: submit,
        preventDoubleClick: true,
        attributes: { 'data-qa': 'submit-enter-recall-date' }
      }) }}
    </div>
  </form>
{% endblock %}
