{% extends "../../partials/prisonerBannerLayout.njk" %}

{% set pageTitle = applicationName + " - fixed term recall question" %}
{% set pageId = "ftr-question" %}

{% block content %}
  <p>TODO ..</p>
{% endblock %}
