$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';
@import 'hmpps/all';

@import './components/header-bar';
@import 'assets/scss/local';

// Utility classes for summary card enhancements
.app-ticket-panel--purple-border {
  // This custom class provides the purple left border directly to the ticket panel
  border-left: 5px solid govuk-colour("purple");
}

.app-ticket-panel--shaded {
  // This custom class provides the light grey background directly to the ticket panel
  background-color: govuk-colour("light-grey");
}

// Ensures the last row of a summary list with this class always has a bottom border
.app-summary-list--all-rows-bordered {
  .govuk-summary-list__row:last-child {
    border-bottom: 1px solid $govuk-border-colour;
  }
}
