{% extends "../../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{% set pageTitle = applicationName + " - test data" %}

{% block content %}
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <div class="test-content">
            <p class="govuk-body">Bulk temporary calculation</p>
                <div class="govuk-!-width-one-quarter">
                {{ govukTextarea({
                    name: "prisonerIds",
                    id: "prisonerIds",
                    value: prisonerIds,
                    rows: 25
                }) }}
            </div>
            <div class="govuk-!-width-one-quarter">
                {{ govukInput({
                label: {
                text: "or, provide an establishment id",
                classes: "govuk-label--s",
                isPageHeading: false
                },
                id: "prisonId",
                name: "prisonId"
                }) }}
            </div>
            <div class="govuk-grid-row  govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
                <div class="govuk-grid-column-three-quarters ">

                    {{ govukCheckboxes({
                    name: "logToConsole",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                    legend: {
                    text: "",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                    }
                    },
                    items: [
                    {
                    value: "true",
                    text: "Show JSON (only applicable when 1 ID provided)"
                    }
                    ]
                    }) }}
                </div>
            </div>
            <div class="govuk-grid-row  govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
                <div class="govuk-grid-column-three-quarters ">
                    {{ govukButton({
                        text: "Calculate",
                        preventDoubleClick: true,
                        type: submit,
                        attributes: {  'data-qa': 'calculate-button' }
                    }) }}
                </div>
            </div>
        </div>

    </form>
  <div class="govuk-!-width-three-quarters">

    {%  if personDetails %}
      {{ govukDetails({
        summaryText: 'Person details',
        html: personDetails | dump(2)
      }) }}
    {% endif %}

    {%  if validation %}
      {{ govukDetails({
        summaryText: 'Full validation response',
        html: validation | dump(2)
      }) }}
    {% endif %}

    {%  if latestCalc %}
      {{ govukDetails({
        summaryText: 'Temporary calculation',
        html: latestCalc | dump(2)
      }) }}
    {% endif %}

    {%  if sentencesAndReleaseDates %}
      {{ govukDetails({
        summaryText: 'Sentences and release dates',
        html: sentencesAndReleaseDates | dump(2)
      }) }}
    {% endif %}

    {%  if calculationBreakdown %}
      {{ govukDetails({
        summaryText: 'Calculation breakdown',
        html: calculationBreakdown | dump(2)
      }) }}
    {% endif %}
  </div>
{% endblock %}
