{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{# TODO: RCLL-453 - Implement bulk sentence type selection page #}
{# This page allows selecting one sentence type to apply to all sentences in a court case #}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-two-thirds">
                <nav>
                    {{ govukBackLink({
                        text: "Back",
                        href: backLink or '/recall/' + nomisId + '/multiple-sentence-decision/' + courtCaseId
                    }) }}
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">Record a recall</span>
                    TODO: RCLL-453 - Select sentence type for all sentences
                </h1>
                
                <p class="govuk-body">This page will allow selection of a single sentence type to apply to all sentences in the court case.</p>
                
                <p class="govuk-body">The selected type will be applied to all unknown sentences in this court case.</p>
                
                <p class="govuk-body govuk-!-font-weight-bold">Implementation pending for RCLL-453</p>
            </div>
        </div>
    </div>
{% endblock %}