{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set errors = validationErrors[0].text %}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-two-thirds">
              <nav>
              {{ govukBackLink({
                    text: "Back",
                    href: backLink
                }) }}
              </nav>
                {% if errorlist.length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: validationErrors,
                        classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
                    }) }}
                {% endif %}
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                <a href="/person/{{ nomisId }}/sentences" class="govuk-link">View raw sentence data</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="{{ formMethod }}" action="{{ formAction }}"
                        {% if formEnctype %}
                            enctype="{{ formEnctype }}"
                        {% endif %}
                >

                    {% if formMethod == 'post' %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}

                    {% block sentenceInfo %}

                            <h1 class="govuk-heading-xl">
                                <span class="govuk-caption-xl">Record a recall</span>
                                Check that the sentences and offences are correct
                            </h1>
                        {% if manualJourney or casesWithEligibleSentences == 0 %}
                          <p>As court cases were manually selected, the sentence information to be shown here will be pulled from Remand and Sentencing for the selected.</p>
                        {% else %}
                          <p>
                              The latest SLED (Sentence and licence expiry date) is <b>{{ latestSled | sentenceDate }}</b>. This is the SLED on this person's licence.
                          </p>
                          <h2 class="govuk-heading-l">
                              Court cases with sentences eligible for recall ({{ casesWithEligibleSentences }})
                          </h2>
                          {{ sentenceCards(summarisedSentencesGroups) }}
                        {% endif %}

                    {% endblock %}

                  <h2 class="govuk-heading-l govuk-!-margin-top-8">Confirm the sentences and offences are correct</h2>

                  <!-- Call to action -->
                  <p class="govuk-body">If you think some information is wrong, you can manage all court case
                    information <a class="govuk-link" target="external" href="{{ urls.ccards }}">Court cases and
                      release dates (opens in a new tab)</a>.</p>

                    <div class="govuk-button-group">
                        {% block formActions %}
                          {% block submitAction %}
                              {{ govukButton({
                                  text: "Confirm and continue",
                                  classes: options.buttonClasses,
                                  preventDoubleClick: true,
                                  type: "submit"
                              }) }}
                          {% endblock %}

                          {% block cancel %}
                            {{ govukButton({
                                text: "Cancel",
                                classes: "govuk-button--secondary",
                                preventDoubleClick: true,
                                type: "reset",
                                href: cancelLink
                              }) }}
                          {% endblock %}
                      {% endblock %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{%  macro sentenceCards(groups) %}
    {% for group in groups %}
{#      Temporarily disabled in order to help analysis - to be reinstated for business requirement#}
{#    {%  if group.hasEligibleSentences  %}#}
        <h3 class="govuk-heading-m">{{ group.caseRefAndCourt }} </h3>

        {% for sentence in group.eligibleSentences %}
            {{ sentenceCard(sentence) }}
        {% endfor %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {% if group.hasIneligibleSentences %}
            {% set ineligibleHtml %}
                {% for sentence in group.ineligibleSentences %}
                    {{ sentenceCard(sentence) }}
                {% endfor %}
            {% endset %}
            {% set summaryHtml %}
                View sentences that are ineligible for recall ({{ group.ineligibleSentences | length }})
            {%  endset %}
        {{ govukDetails({
            summaryHtml: summaryHtml,
            html: ineligibleHtml
        }) }}
        {% endif %}
{#        {% endif %}#}
    {% endfor %}

{% endmacro %}

{% macro sentenceCard(sentence) %}
    <div class="offence-card sentence-card">
        <div class="govuk-width-container">
            <div class="offence-card-offence-details">
                <h4 class="govuk-heading-s">{{ sentence.offenceCode }} - {{ sentence.offenceDescription }}</h4>

                {{ govukSummaryList({
                    rows: sentence.summary,
                    classes: "govuk-summary-list--no-border"
                }) }}


            </div>
        </div>
    </div>
{% endmacro %}

