{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}

    <form method="{{ formMethod }}" action="{{ formAction }}"
            {% if formEnctype %}
                enctype="{{ formEnctype }}"
            {% endif %}
    >

        {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% endif %}

        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-two-thirds'>
              <span class="govuk-caption-xl">Record a recall</span>
                <h1 class="govuk-heading-xl" id="check-answers-heading">Check your answers</h1>
                <h2 class="govuk-heading-m">Recall dates</h2>
                {{ govukSummaryList({
                    rows: answerSummaryList
                }) }}
                {% if ual %}
                  {%  set ualHtml %}
                    <b>{{ ual }}</b> of UAL (unlawfully at large) will also be added. You can review and add other adjustments after recording the recall.
                  {% endset %}
                  {{  govukInsetText({
                    html: ualHtml
                  }) }}
                {% endif %}
            </div>
        </div>

        <div class="govuk-button-group">
            {% block formActions %}
                {% block submitAction %}
                    {{ govukButton({
                        text: "Confirm recall",
                        classes: options.buttonClasses,
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}
                {% endblock %}
            {% endblock %}
        </div>
    </form>
{% endblock %}
