{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% set title = "Enter recall date" %}
{% set errors = validationErrors[0].text %}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-two-thirds">
                {{ govukBackLink({
                    text: "Back",
                    href: backLink
                }) }}
                {% if errorlist.length %}
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: validationErrors,
                        classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-0"
                    }) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="{{ formMethod }}" action="{{ formAction }}"
                        {% if formEnctype %}
                            enctype="{{ formEnctype }}"
                        {% endif %}
                >

                    {% if formMethod == 'post' %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}

                    {% block sentenceInfo %}

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-three-quarters">
                                <h1 class="govuk-heading-l" id="check-sentence-heading">
                                    Grouped Sentences for Recall Date: {{ recallDate | date }}
                                </h1>
                            </div>
                            <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                                <a href="/person/{{ nomisId }}/sentences" class="govuk-link">View raw sentence data</a>
                            </div>
                        </div>

                        {% if groupedSentences.onLicenceSentences.length > 0 %}
                            <h2 class="govuk-heading-m" id="sent-on-licence">On Licence Sentences</h2>
                            {{ sentenceTable(groupedSentences.onLicenceSentences) }}
                        {% else %}
                            <h2 class="govuk-heading-m" id="sent-on-licence">No sentences on licence.</h2>
                        {% endif %}

                        {% if groupedSentences.activeSentences.length > 0 %}
                            <h2 class="govuk-heading-m" id="active-sentences">Active Sentences</h2>
                            {{ sentenceTable(groupedSentences.activeSentences) }}
                        {% else %}
                            <h2 class="govuk-heading-m" id="active-sentences">No active sentences.</h2>
                        {% endif %}

                        {% if groupedSentences.expiredSentences.length > 0 %}
                            <h2 class="govuk-heading-m" id="expired-sentences">Expired Sentences</h2>
                            {{ sentenceTable(groupedSentences.expiredSentences) }}
                        {% else %}
                            <h2 class="govuk-heading-m" id="expired-sentences">No expired sentences.</h2>
                        {% endif %}


                    {% endblock %}



                    {% block fields %}

                        {% for key, fieldsOptions in fields %}
                            {% if fieldsOptions.component and not fieldsOptions.skip %}
                                {{ callAsMacro(fieldsOptions.component)(fieldsOptions) }}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}

                    <div class="govuk-button-group">
                        {% block formActions %}
                            {% block submitAction %}
                                {{ govukButton({
                                    text: "Continue",
                                    classes: options.buttonClasses,
                                    preventDoubleClick: true,
                                    type: "submit"
                                }) }}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% macro sentenceTable(sentences) %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Case Sequence</th>
            <th class="govuk-table__header">Line Sequence</th>
            <th class="govuk-table__header">Sentenced At</th>
            <th class="govuk-table__header">Sentence Length</th>
            <th class="govuk-table__header">Consecutive To</th>
            <th class="govuk-table__header">Conditional Release Date (CRD)</th>
            <th class="govuk-table__header">Sentence Expiry Date (SED)</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for sentence in sentences %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ sentence.caseSequence }}</td>
                <td class="govuk-table__cell">{{ sentence.lineSequence }}</td>
                <td class="govuk-table__cell">{{ sentence.sentencedAt }}</td>
                <td class="govuk-table__cell">{{ sentence.sentenceLength }}</td>
                <td class="govuk-table__cell">{{ sentence.consecutiveTo }}</td>
                <td class="govuk-table__cell">{{ sentence.crd }}</td>
                <td class="govuk-table__cell">{{ sentence.sled }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

