{# {% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}


      {% call interruptionCard({
        heading: "None of the sentences recorded are eligible for recall",
        primaryAction: {
          text: "Check the date of revocation",
          href: journeyBaseLink + "/revocation-date",
          preventDoubleClick: true,
          type: "submit"
        },
        secondaryAction: {
          text: "Cancel recall",
          href: cancelLink,
          preventDoubleClick: true,
          type: "reset",
          style: "button"
        }
    }) -%}
        <p>The date of revocation entered is: <b>{{ revocationDate | eightDigitDate }}</b>.</p>
        <h2 class="govuk-heading-m moj-interruption-card__heading">What to do next</h2>
        <p>1. Check that the revocation date you’ve entered is correct.</p>
        <p>2. Cancel this recall, then check that the sentence information has been recorded correctly.</p>
      {%- endcall %}
{% endblock %} #}




{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}



    {% call interruptionCard({
        heading: "The revocation date and arrest date overlap with existing adjustments",
        primaryAction: {
        text: "Update the recall dates",
        href: journeyBaseLink + "/revocation-date",
        preventDoubleClick: true,
        type: "submit"
        },
        secondaryAction: {
        text: "Cancel recall",
        href: cancelLink,
        preventDoubleClick: true,
        type: "reset",
        style: "button"
        }
    }) %}
        <p>You have entered:</p>
        <p>A revocation date of <b>{{ revocationDate | fullMonthdate }}</b></p>
        <p>An arrest date of <b>{{ arrestDate | fullMonthdate }}</b></p>
        <h2 class='govuk-heading-m moj-interruption-card__heading'>What you need to do</h2>
        <p>If the revocation date or arrest date are incorrect, go back and update these recall dates.</p>
        <p>If the adjustment dates are incorrect, cancel this recall and update the relevant adjustments.</p>
        {% endcall %}
{% endblock %}


