{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% if isEdit %}
  {% set title = "Are you sure you want to cancel editing the recall?" %}
  {% set pageCaption = "Edit a recall" %}
  {% set yesOptionText = "Yes, cancel editing the recall" %}
{% else %}
  {% set title = "Are you sure you want to cancel recording a recall?" %}
  {% set pageCaption = "Record a recall" %}
  {% set yesOptionText = "Yes, cancel the recall" %}
{% endif %}
{% set pageTitle = applicationName + " - " + title %}

{% block pageContent %}
  <h1 data-qa='main-heading' class="govuk-heading-l">{{ title }}</h1>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {% set confirmCancelError = validationErrors | findError('confirmCancel') %}

    {{ govukRadios({
      id: "confirmCancel",
      name: "confirmCancel",
      errorMessage: confirmCancelError,
      items: [
        {
          value: "YES",
          text: yesOptionText,
          attributes: { "data-qa": "confirm-cancel-yes"}
        },
        {
          value: "NO",
          text: "No, go back to the recall",
          attributes: { "data-qa": "confirm-cancel-no"}
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          id: "submit",
          "data-qa": "continue-btn"
        }
      }) }}
    </div>
  </form>
{% endblock %}
