{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}



    {% call interruptionCard({
        heading: "The revocation date and arrest date overlap with existing adjustments",
        primaryAction: {
        text: "Update the recall dates",
        href: journeyBaseLink + "/revocation-date",
        preventDoubleClick: true,
        type: "submit"
        },
        secondaryAction: {
        text: "Cancel recall",
        href: cancelLink,
        preventDoubleClick: true,
        type: "reset",
        style: "button"
        }
    }) %}
        <p>You have entered:</p>
        <p>A revocation date of <b>{{ revocationDate | fullMonthdate }}</b></p>
        <p>An arrest date of <b>{{ arrestDate | fullMonthdate }}</b></p>
        <p>These dates overlap with:</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for adjustment in relevantAdjustments %}
            <li>
              {{ adjustment.adjustmentType | lower | replace("_", " ") | capitalize }}
              {% if adjustment.unlawfullyAtLarge.type %}
                ({{ adjustment.unlawfullyAtLarge.type | lower | replace("_", " ") | capitalize }})
              {% endif %}
              {% if adjustment.fromDate == adjustment.toDate %}
                on {{ adjustment.fromDate | fullMonthdate }} 
              {% else %} 
                from {{ adjustment.fromDate | fullMonthdate }} to {{ adjustment.toDate | fullMonthdate }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <h2 class='govuk-heading-m moj-interruption-card__heading'>What you need to do</h2>
        <p>If the revocation date or arrest date are incorrect, go back and update these recall dates.</p>
        <p>If the adjustment dates are incorrect, cancel this recall and update the relevant adjustments.</p>
        {% endcall %}
{% endblock %}


