{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/components/recall-card/macro.njk" import recallCard %}

{% set title = "Are you sure you want to delete the recall?" %}
{% set pageTitle = applicationName + " - " + title %}

{% block pageContent %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ recallCard(recall) }}

  <form method="post" action="">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukRadios({
      name: "confirmDeleteRecall",
      items: [
        {
          value: 'YES',
          text: 'Yes, delete the recall'
        },
        {
          value: 'NO',
          text: 'No, go back to recalls'
        }
      ],
      errorMessage: validationErrors | findError('confirmDeleteRecall')
    }) }}


    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm",
        preventDoubleClick: true,
        attributes: { id: "submit" }
      }) }}
    </div>
  </form>
{% endblock %}
