{% extends "prisonerBannerBackLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set title = "Edit recall" %}
{% set pageTitle = applicationName + " - " + title %}
{% set pageCaption = "Edit a recall" %}

{% block pageContent %}
    {% if showRecordedOn %}
        <h1 class="govuk-heading-l" id="review-edit-heading">
            Recorded on {{ storedRecall.createdAt | date }}
        </h1>
    {% elif showCheckAnswers %}
        <h1 class="govuk-heading-l" id="check-answers-heading">
            Check answers
        </h1>
    {% else %}
        <h1 class="govuk-heading-l" id="edit-recall-heading">
            {{ title }}
        </h1>
    {% endif %}

    {{ govukSummaryList({
        rows: answerSummaryList
    }) }}

    {% if ualDiff %}
        {% set ualHtml %}
            These recall dates will create <b>{{ ualText }}</b> of UAL.
            Once you have confirmed and saved this recall, you can review all UAL dates in the adjustments service.
        {% endset %}
        {{ govukInsetText({
            html: ualHtml
        }) }}
    {% elif ualText and not showRecordedOn %}
        {% set ualHtml %}
            <b>{{ ualText }}</b> of UAL (unlawfully at large) will be updated. You can review and add other adjustments after saving the recall.
        {% endset %}
        {{ govukInsetText({
            html: ualHtml
        }) }}
    {% endif %}

    <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-button-group">
            {% if showCheckAnswers %}
                {{ govukButton({
                    text: "Save changes",
                    preventDoubleClick: true,
                    attributes: {
                        id: "submit",
                        "data-qa": "save-changes-btn"
                    }
                }) }}
            {% else %}
                {{ govukButton({
                    text: "Continue",
                    classes: "govuk-button--secondary",
                    disabled: true,
                    attributes: {
                        id: "continue-disabled",
                        "data-qa": "continue-disabled-btn"
                    }
                }) }}
            {% endif %}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: cancelUrl
            }) }}
        </div>
    </form>

    {% if not showCheckAnswers and not showRecordedOn %}
        <p class="govuk-body govuk-!-margin-top-6">
            You must visit all steps in the edit flow before you can save your changes.
        </p>
    {% endif %}
{% endblock %}
