{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
    {{ super() }}
    {{ govukBackLink({
        text: "Back",
        href: '/person/' + nomisId + '/recalls'
    }) }}
{% endblock %}

{% block content %}
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}

    <form method="{{ formMethod }}" action="{{ formAction }}"
            {% if formEnctype %}
                enctype="{{ formEnctype }}"
            {% endif %}
    >

        {% if formMethod == 'post' %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {% endif %}

        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-two-thirds'>
              <span class="govuk-caption-xl">Edit a recall</span>

              {% if showRecordedOn %}
                  <h1 class="govuk-heading-l" id="review-edit-heading">
                      Recorded on {{ storedRecall.createdAt | date }}
                  </h1>
              {% elif showCheckAnswers %}
                  <h1 class="govuk-heading-l" id="check-answers-heading">
                      Check answers
                  </h1>
              {% endif %}

              {{ govukSummaryList({
                  rows: answerSummaryList
              }) }}

              {% if ualDiff %}
                  {%  set ualHtml %}
                      These recall dates will create <b>{{ ualText }}</b> of UAL.
                      Once you have confirmed and saved this recall, you can review all UAL dates in the adjustments service.
                  {% endset %}
                  {{  govukInsetText({
                      html: ualHtml
                  }) }}
              {% endif %}
            </div>
        </div>

        <div class="govuk-button-group">
            {% block formActions %}
                {% block submitAction %}
                    {{ govukButton({
                        text: "Confirm changes",
                        classes: options.buttonClasses,
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}
                {% endblock %}
                {% block cancel %}
                    {{ govukButton({
                        text: "Cancel changes",
                        classes: "govuk-button--secondary",
                        preventDoubleClick: true,
                        type: "reset",
                        href: cancelLink
                    }) }}
                {% endblock %}
            {% endblock %}
        </div>
    </form>
{% endblock %}
