{% extends "prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% set title = "Select all the cases that are relevant to this recall" %}
{% set pageTitle = applicationName + " - " + title %}
{% set pageCaption = "Record a recall" %}

{% block pageContent %}
    <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {%- call interruptionCard({
          heading: title,
          primaryAction: {
            text: "Continue",
            element: 'button',
            attributes: {
              type: "submit",
              "data-prevent-double-click": true,
              id: "submit"
            },
            classes: "govuk-button--inverse"
          },
          secondaryAction: {
            text: "Cancel recall",
            element: 'a',
            href: cancelUrl,
            attributes: {
              "data-prevent-double-click": true,
              "role": "button"
            },
            classes: "govuk-button--secondary govuk-button--inverse govuk-!-margin-left-1"
          }
        }) -%}
          <p class="govuk-body">This service cannot determine which sentences are eligible for recall.</p>
          <p class="govuk-heading-m">What you need to do</p>
          <p class="govuk-body">You must make sure the recall is recorded correctly, as per the original warrant. To do this, you must select all cases that include sentences that were active when the person's licence was revoked.</p>
        {%- endcall %}

    </form>
{% endblock %}
