{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  {% if errorlist.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: validationErrors
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Record a recall</span>
    No cases have been selected
  </h1>

  <p class="govuk-body">
    You must select at least one active sentence that was relevant on the revocation date.
  </p>

  <p class="govuk-body">
    The revocation date entered is <strong>{{ revocationDate | date }}</strong>.
  </p>

  <h2 class="govuk-heading-m">What to do next</h2>

  <p class="govuk-body">
    Check the date of revocation is correct, and if not,
    <a class="govuk-link" href="{{ journeyBaseLink }}/revocation-date">update the revocation date</a>.
  </p>

  <p class="govuk-body">
    Go back through the court cases again and
    <a class="govuk-link" href="{{ journeyBaseLink }}/manual-recall-intercept">check for relevant sentences</a>.
  </p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Cancel recall",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      type: "reset",
      href: cancelLink
    }) }}
  </div>
{% endblock %}
