{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% block content %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds'>
            {{ govukBackLink({
                text: "Back",
                href: backLink
            }) }}
            <h1 class="govuk-heading-xl" id="check-nomis-heading">Recall not possible</h1>
            {% for error in validationErrors %}
                <h2 class="govuk-heading-m" id="validation-fail-reason-{{loop.index}}">{{ error }}</h2>
            {% endfor %}
        </div>
    </div>

{% endblock %}
