{% extends "partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
    {{ super() }}
    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-two-thirds">
                {% if backLink %}
                    <nav>
                        {{ govukBackLink({
                            text: backLinkText | default("Back"),
                            href: backLink,
                            attributes: {"data-qa": "back-link"}
                        }) }}
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {% include 'partials/formError.njk' %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-{{ contentColumnWidth | default('two-thirds') }}">
                {# Allow pre-content hooks for things like captions #}
                {% block beforePageContent %}
                    {% if pageCaption %}
                        <span class="govuk-caption-{{ captionSize | default('l') }}">{{ pageCaption }}</span>
                    {% endif %}
                {% endblock %}

                {# Main page content #}
                {% block pageContent %}{% endblock %}
            </div>

            {# Optional sidebar for additional content #}
            {% if sidebarContent %}
                <div class="govuk-grid-column-one-third">
                    {% block sidebar %}
                        {{ sidebarContent | safe }}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
