{% extends "prisonerBannerBackLayout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set title = "Recall recorded" %}
{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}
{% set showBackLink = false %}

{% block pageContent %}
  {% if action == "updated" %}
    {% set panelText = "Changes to recall saved" %}
  {% elif action == "recorded" %}
    {% set panelText = "Recall recorded" %}
  {% else %}
    {% set panelText = "Recall saved" %}
  {% endif %}

  {{ govukPanel({
    titleText: panelText,
    attributes: {
      "data-qa": "success-message"
    }
  }) }}

  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-l">What you can do next</h2>

    <p><a href="{{ urls.adjustments }}">Check the adjustments information</a></p>

    <h2 class="govuk-heading-m">Other things you can do</h2>
    <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-2">
      <li><a href="{{ urls.crds }}">Calculate release dates</a></li>
      <li>Go back to the <a href="{{ urls.profile }}">prisoner profile</a></li>
    </ul>
  </div>
{% endblock %}
