{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set title = "Recall recorded" %}
{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}
{% set showBackLink = false %}

{% block pageContent %}

  {% if createOrEdit == 'create' %}
   {% set messageTitle = 'Recall recorded' %}
  {% else %}
   {% set messageTitle = 'Recall edited' %}
  {% endif %}
  {{ govukPanel({
    titleText: messageTitle,
    html: 'The recall will be included in your next release date calculation.',
    attributes: {
      "data-qa": "success-message"
    }
  }) }}

  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-l">What you must do next</h2>
    <p class="govuk-body">Make sure all the adjustment information is up to date. This includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>reviewing the remand and tagged bail</li>
        <li>adding any UAL from previous recalls that have not yet been included</li>
      </ul>
    <p>Once all adjustments have been made, continue to calculate release dates.</p>

    <p><a href="{{ urls.adjustments }}">Review the adjustments</a></p>

    <h2 class="govuk-heading-m">Other things you can do</h2>
    <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-2">
      <li>Go back to the <a href="{{ urls.dpspp }}">prisoner profile</a></li>
    </ul>
  </div>
{% endblock %}
