{% extends "../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
    {% set formMethod = options.method | default('post') %}
    {% set formAction = options.action | default('') %}
    {% set formEnctype = options.enctype | default('') %}

    <form method="{{ formMethod }}" action="{{ formAction }}"
        {% if formEnctype %}
          enctype="{{ formEnctype }}"
        {% endif %}
    >

      {% if formMethod == 'post' %}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% endif %}


      {% call interruptionCard({
        heading: "Is this the correct recall type?",
        primaryAction: {
          text: "Continue",
          preventDoubleClick: true,
          type: "submit"
        },
        secondaryAction: {
          text: "Cancel",
          href: cancelLink,
          preventDoubleClick: true,
          type: "reset"
        }
    }) -%}
        <p>This service has identified that the recall type selected could be incorrect.</p>
        <p>The recall type currently selected is: <b>{{ selectedRecallType.description }}</b>.</p>
        <h2 class="govuk-heading-m moj-interruption-card__heading">What to do next</h2>
        <p>1. Check with PPCS that this is the correct recall type.</p>
        <p>2. If you need to make a change to the recall, <a href="{{ backLink }}" class="govuk-link govuk-link--inverse">go back and update the recall details</a>.</p>
        <p>3. Once you have confirmed the recall is correct, select continue.</p>
  {%- endcall %}

    </form>
{% endblock %}
