{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set title = "Select the type of recall" %}
{% set pageTitle = applicationName + " - " + title %}

{% block beforePageContent %}
  {% set caption = isEdit and "Edit a recall" or "Record a recall" %}
  <span class="govuk-caption-l">{{ caption }}</span>
{% endblock %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set recallTypeError = validationErrors | findError('recallType') %}

        {{ govukRadios({
            id: "recallType",
            name: "recallType",
            fieldset: {
                legend: {
                    text: "Select the type of recall",
                    isPageHeading: true,
                    classes: "govuk-visually-hidden"
                }
            },
            errorMessage: recallTypeError,
            items: recallTypeOptions
        }) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true,
                attributes: { id: "submit" }
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: cancelUrl,
                attributes: { id: "cancel-button" }
            }) }}
        </div>
    </form>
{% endblock %}
