{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro validatedDateInput(opts) %}
  {% set id = opts.id %}
  {% set name = opts.name %}
  {% set title = opts.title %}
  {% set hintHeading = opts.hintHeading %}
  {% set hintText = opts.hintText %}

  {% set day = opts.day %}
  {% set month = opts.month %}
  {% set year = opts.year %}

  {# --- Handle validation errors --- #}
  {% if opts.validationErrors %}
    {% set dayError = opts.validationErrors['day'] if opts.validationErrors['day'] else '' %}
    {% set monthError = opts.validationErrors['month'] if opts.validationErrors['month'] else '' %}
    {% set yearError = opts.validationErrors['year'] if opts.validationErrors['year'] else '' %}
  {% else %}
    {% set dayError = '' %}
    {% set monthError = '' %}
    {% set yearError = '' %}
  {% endif %}

  {# --- Join errors helper --- #}
  {% macro joinErrors(error) %}
    {% if error and error|length > 0 %}
      {{ error }}
    {% endif %}
  {% endmacro %}

  {# --- Prepare fieldset object --- #}
  {% set fieldsetObj = undefined %}
  {% if title %}
    {% if title.text is defined %}
      {% set fieldsetObj = {
          legend: {
            text: title.text,
            isPageHeading: title.isPageHeading,
            classes: title.classes
          }
        } %}
    {% else %}
      {% set fieldsetObj = {
          legend: {
            text: title,
            isPageHeading: false
          }
        } %}
    {% endif %}
  {% endif %}

  {# --- Prepare hint object --- #}
  {% set hintObj = undefined %}
  {% if hintText %}
    {% set hintHtml = '' %}
    {% if hintHeading %}
      {% set hintHtml = '<strong>' + hintHeading + '</strong><br>' %}
    {% endif %}
    {% set hintHtml = hintHtml + hintText %}
    {% set hintObj = { html: hintHtml } %}
  {% endif %}

  {# --- Prepare error message object --- #}
  {% set errorObj = undefined %}
  {% if dayError or monthError or yearError %}
    {% set errorObj = {
        html: '<span id="day-error" class="govuk-error-message">' + joinErrors(dayError) + '</span>' +
              '<span id="month-error" class="govuk-error-message">' + joinErrors(monthError) + '</span>' +
              '<span id="year-error" class="govuk-error-message">' + joinErrors(yearError) + '</span>'
      } %}
  {% endif %}

  {# --- Render the GOV.UK date input component --- #}
  {{ govukDateInput({
    id: id,
    name: name or id,
    fieldset: fieldsetObj,
    hint: hintObj,
    errorMessage: errorObj,
    items: [
      {
        id: 'day',
        label: 'Day',
        name: 'day',
        classes: 'govuk-input--width-2' + (' govuk-input--error' if dayError else ''),
        value: day
      },
      {
        id: 'month',
        label: 'Month',
        name: 'month',
        classes: 'govuk-input--width-2' + (' govuk-input--error' if monthError else ''),
        value: month
      },
      {
        id: 'year',
        label: 'Year',
        name: 'year',
        classes: 'govuk-input--width-4' + (' govuk-input--error' if yearError else ''),
        value: year
      }
    ]
  }) }}
{% endmacro %}
