{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "partials/components/case-and-sentences/macro.njk" import caseAndSentences %}

{% set title = "Check that the sentences and offences are correct" %}
{% set pageTitle = applicationName + " - " + title %}

{% block beforePageContent %}
  {% set caption = isEdit and "Edit a recall" or "Record a recall" %}
  <span class="govuk-caption-l">{{ caption }}</span>
{% endblock %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{{ title }}</h1>


    <p data-qa="led-line">
  {% if licenceDates %}
    {% if licenceDates.areDifferent %}
      The latest SED (Sentence expiry date) is
      <b>{{ licenceDates.sed | formatDate('dddd, D MMMM YYYY') }}</b>.
      The latest LED (Licence expiry date) is
      <b>{{ licenceDates.led | formatDate('dddd, D MMMM YYYY') }}</b>.
    {% else %}
      The latest SLED (Sentence and licence expiry date) is
      <b>{{ (licenceDates.sed or licenceDates.led) | formatDate('dddd, D MMMM YYYY') }}</b>.
      This is the SLED on this person's licence.
    {% endif %}
  {% else %}
    The SLED (Sentence and licence expiry date) is not available.
  {% endif %}
</p>

    <h2 class="govuk-heading-l" data-qa="court-case-count">
        Court cases with sentences eligible for recall ({{ courtCases.length }})
    </h2>
  
    {# Recallable Offences Section #}
    <div data-qa="recallable-court-cases">
        {% for courtCase in courtCases %}
            {{ caseAndSentences(courtCase, courtCase.eligibleSentences, courtCase.expiredSentences, courtCase.ineligibleSentences) }}
        {% endfor %}
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-8">Confirm the sentences and offences are correct</h2>

    <p class="govuk-body">If you think some information is wrong, you can manage all court case
        information <a class="govuk-link" target="external" href="{{ urls.ccards }}">Court cases and
        release dates (opens in a new tab)</a>.
    </p>

    <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
     
        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true,
                attributes: { id: "submit" }
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: cancelUrl,
                attributes: { id: "cancel-button" }
            }) }}
        </div>
    </form>
{% endblock %}

