{% extends "./prisonerBannerBackLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/components/validatedDateInput/macro.njk" import validatedDateInput %}

{% set title = "Enter the date of revocation" %}
{% set pageTitle = applicationName + " - " + title %}

{% block pageContent %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <form method="post" action="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ validatedDateInput({
        id: "revocationDate",
        validationErrors: validationErrors,
        html: [null, "For example, 31 3 2024"],
        day: day,
        month: month,
        year: year
      }) }}

        <div class="govuk-button-group">
            {{ govukButton({
                text: "Continue",
                preventDoubleClick: true,
                attributes: { id: "submit" }
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: cancelUrl,
                attributes: { id: "cancel-button" }
            }) }}
        </div>
    </form>
{% endblock %}
