{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}

{% if sentence.sentenceTypeDescription == 'Required' %}
  {% set sentenceTypeDisplay = '<strong class="govuk-tag govuk-tag--blue">Required</strong>' %}
{% else %}
  {% set sentenceTypeDisplay = sentence.sentenceTypeDescription | default("N/A") %}
{% endif %}
{% set sentenceDate = sentence.sentenceDate | formatDate if sentence.sentenceDate else 'N/A' %}

{# TODO sentence.consecutiveToChargeNumber is never set #}
{# TODO will prob align this offenceCard with RAS #}
{{ offenceCard({
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate,
    offenceEndDate: sentence.offenceEndDate | formatDate,
    countNumber: sentence.countNumber,
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    consecutiveTo: sentence.consecutiveToChargeNumber,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentenceDate | formatDate,
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4'
}) }}

