{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}

{# TODO sentence.consecutiveToChargeNumber is never set #}
{{ offenceCard({
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate('DD/MM/YYYY'),
    offenceEndDate: sentence.offenceEndDate | formatDate('DD/MM/YYYY'),
    countNumber: sentence.countNumber,
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    consecutiveTo: sentence.consecutiveToChargeNumber,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentence.sentenceDate | formatDate('DD/MM/YYYY'),
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4'
}) }}

