{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% macro cardInfo(label, value) %}
  {% if value %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ label }}</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">{{ value | safe }}</p>
  {% endif %}
{% endmacro %}

{% set isNomisRecall = model.source === 'NOMIS' %}

<div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper recall-card">
    <h2 class="govuk-summary-card__title" data-qa="recall-{{ model.recallUuid }}-card-title">
      {% if not isNomisRecall %}
        Recorded on {{ model.createdAtTimestamp | formatDate }}{% if model.createdAtLocationName %} at {{ model.createdAtLocationName }}{% endif %}
      {% endif %}
    </h2>

    <ul class="govuk-summary-card__actions">
      {% if isNomisRecall %}
        <li class="govuk-summary-card__action">
          <span class="moj-badge moj-badge--grey govuk-!-margin-bottom-1 govuk-!-margin-left-1" data-qa="recall-{{ model.recallUuid }}-nomis-badge">NOMIS</span>
        </li>
      {% else %}
        {% if model.canEdit %}
          <li class="govuk-summary-card__action">
              <a class="govuk-link" data-qa="recall-{{ model.recallUuid }}-edit-link" href="/person/{{ model.prisonerId }}/recall/edit/{{ model.recallUuid }}/start">Edit<span class="govuk-visually-hidden"> recall recorded on {{ model.createdAtTimestamp | formatDate }}</span></a>
          </li>
        {% endif %}
        {% if model.canDelete %}
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--destructive" data-qa="recall-{{ model.recallUuid }}-delete-link"  href="/person/{{ model.prisonerId }}/recall/{{ model.recallUuid }}/delete">Delete<span class="govuk-visually-hidden"> recall recorded on {{ model.createdAtTimestamp | formatDate }}</span></a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>

  <div class="govuk-summary-card__content govuk-!-margin-bottom-0" id="recall-summary">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-one-half">
        {{ cardInfo('Recall type', model.recallTypeDescription) }}
        {{ cardInfo('Revocation date', 'Not entered' if isNomisRecall else (model.revocationDate | formatDate)) }}
      </div>

      <div class="govuk-grid-column-one-half">
        {% set arrestDateDisplay %}
          {% if model.inPrisonOnRevocationDate === true %}
            In prison at recall
          {% elseif model.returnToCustodyDate %}
            {{ model.returnToCustodyDate | formatDate }}
          {% else %}
            Not entered
          {% endif %}
        {% endset %}

        {{ cardInfo('Arrest date', arrestDateDisplay) }}
        {% set ual = 'None' %}
        {% if isNomisRecall %}
          {% set ual %}
            <a class="govuk-link" href="{{ serviceDefinitions.services.adjustments.href }}" target="_blank" rel="noopener noreferrer">
              View UAL details
            </a>
          {% endset %}
        {% elseif model.ualAdjustmentTotalDays %}
          {% set ual = model.ualAdjustmentTotalDays + (' day' if model.ualAdjustmentTotalDays == 1 else ' days')  %}
        {% endif %}
        {{ cardInfo('UAL (unlawfully at large)', ual) }}
      </div>
    </div>

    {% if model.courtCases and model.courtCases.length %}
      <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Court cases</h3>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" data-qa="recall-{{ model.recallUuid }}-court-case-details">
              Court cases ({{ model.courtCases.length }})
            </span>
            </summary>
            <div class="govuk-details__text govuk-!-margin-top-0" style="width: 100%; max-width: none;">
              {% for courtCase in model.courtCases %}
                  {% set courtCaseIndex = loop.index %}
                  {% if courtCase.courtCaseReference or courtCase.courtName or courtCase.courtCaseDate %}
                    <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3"  data-qa="recall-{{ model.recallUuid  }}-court-case-heading-{{ courtCaseIndex }}">
                      {% if courtCase.courtCaseReference %}
                        {{ courtCase.courtCaseReference }}{% if courtCase.courtName %} at {{ courtCase.courtName }}{% endif %}{% if courtCase.courtCaseDate %} on {{ courtCase.courtCaseDate | formatDate('DD/MM/YYYY') }}{% endif %}
                        {% elif courtCase.courtName %}
                        Case held at {{ courtCase.courtName }}{% if courtCase.courtCaseDate %} on {{ courtCase.courtCaseDate | formatDate('DD/MM/YYYY') }}{% endif %}
                        {% elif courtCase.courtCaseDate %}
                        Case on {{ courtCase.courtCaseDate | formatDate('DD/MM/YYYY') }}
                      {% endif %}
                    </h3>
                  {% endif %}

                  {% for sentence in courtCase.sentences %}
                    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-4"  data-qa="recall-{{ model.recallUuid  }}-court-case-{{ courtCaseIndex }}-sentences-{{ loop.index }}">
                      {% set offenceStartDate = sentence.offenceStartDate | formatDate('DD/MM/YYYY') if sentence.offenceStartDate else 'Not entered' %}
                      {% set offenceEndDate = sentence.offenceEndDate | formatDate('DD/MM/YYYY') if sentence.offenceEndDate else null %}
                      {% set sentenceDate = sentence.sentenceDate | formatDate('DD/MM/YYYY') if sentence.sentenceDate else 'Not entered' %}
                      {# Determine numeric values for count and line number#}
                      {% if sentence.countNumber and sentence.countNumber != '-1' %}
                        {% set countNumberWithText = sentence.countNumber %}
                        {% set lineNumberWithText = null %}
                      {% elseif not sentence.countNumber %}
                        {% set countNumberWithText = null %}
                        {% set lineNumberWithText = sentence.lineNumber %}
                      {% else %}
                        {# countNumber is '-1' → show neither#}
                        {% set countNumberWithText = null %}
                        {% set lineNumberWithText = null %}
                      {% endif %}

                      {{ offenceCard({
                        countNumber: countNumberWithText,
                        lineNumber: lineNumberWithText,
                        offenceCode: sentence.offenceCode | default('Not entered'),
                        offenceName: sentence.offenceDescription | default('Offence description not available'),
                        offenceStartDate: offenceStartDate,
                        offenceEndDate: offenceEndDate,
                        hideOutcome: true,
                        periodLengths: (sentence.periodLengths | default([])) | periodLengthsToSentenceLengths,
                        sentenceServeType: sentence.sentenceServeType | default(null),
                        sentenceType: sentence.sentenceTypeDescription | default('Not entered'),
                        sentenceDate: sentenceDate,
                        isSentenced: true,
                        detailsClasses: 'govuk-!-padding-4 offence-card-for-sentence-' + sentence.sentenceUiid,
                        consecutiveTo: sentence.consecutiveTo
                      }) }}
                    </div>
                {% endfor %}
              {% endfor %}
            </div>
          </details>
        </div>
      </div>
    {% endif %}
  </div>
</div>
