{% macro custodialPeriodView(params) %}
  {% set sortBy = params.sortBy %}
  {% set includeCasesFromPreviousPeriodsOfCustody = params.includeCasesFromPreviousPeriodsOfCustody %}
  {% set disableIncludeCasesFromPreviousPeriodsOfCustody = params.disableIncludeCasesFromPreviousPeriodsOfCustody %}
  {% set filterErrors = params.filterErrors %}
  {% set recalls = params.recalls %}

  {% include "./template.njk" %}
{% endmacro %}