{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
        <details class="govuk-details filter filter-box govuk-!-margin-bottom-2"{% if filterErrors | length %} open {% endif %}>
            <summary class="govuk-details__summary" data-qa="filterSortSummary">
                <span class="govuk-details__summary-text">
                    Filter and sort
                </span>
                {# <div class="gouk-body govuk-!-font-weight-bold results">Showing {% if paginationResults.count%}<strong>{{ paginationResults.from }}</strong> to <strong>{{ paginationResults.to }}</strong>{% else %}<strong>0</strong>{% endif %} of <strong>{{ prisonerCourtCaseTotal }}</strong> court cases</div> #}
            </summary>
            <div class="govuk-details__text">
                <form>
                    {{ govukRadios({
                        name: "sortBy",
                        classes: "govuk-radios--small",
                        fieldset: {
                            legend: {
                                text: "Sort by",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: [
                            {
                                value: "APPEARANCE_DATE_DESC",
                                text: "Court appearance (most recent)",
                                checked: sortBy === 'APPEARANCE_DATE_DESC'
                            },
                            {
                                value: "APPEARANCE_DATE_ASC",
                                text: "Court appearance (earliest)",
                                checked: sortBy === 'APPEARANCE_DATE_ASC'
                            }
                        ]
                    }) }}

                    {{
                        govukCheckboxes({
                            name: 'includeCasesFromPreviousPeriodsOfCustody',
                            classes: "govuk-checkboxes--small",
                            fieldset: {
                                legend: {
                                    text: "Previous cases",
                                    classes: "govuk-fieldset__legend--s"
                                }
                            },
                            items: [{
                                value: 'true',
                                text: 'Include cases from previous periods of custody',
                                checked: includeCasesFromPreviousPeriodsOfCustody === 'true',
                                disabled: disableIncludeCasesFromPreviousPeriodsOfCustody
                            }]
                        })
                    }}

                    {{ govukButton({
                        text: "Apply",
                        classes: 'govuk-!-margin-bottom-1',
                        attributes: {
                            'data-qa': 'applyButton'
                        }
                    }) }}

                </form>
            </div>
        </details>
    </div>
</div>