{% extends "../../../partials/prisonerBannerLayout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - V2 Recall Flow Under Construction" %}
{% set pageId = "recall-v2-under-construction" %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Record a recall - V2 Flow</h1>

    {{ govukPanel({
      titleText: "Under Construction",
      html: "This page is part of the V2 recall recording flow that is currently being developed.",
      classes: "govuk-panel--interruption"
    }) }}
  </div>
</div>
{% endblock %}
