{% from "partials/components/sentence/macro.njk" import sentenceCard %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<h2 data-qa="court-case-main-heading" class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-top-3 govuk-!-margin-bottom-3">
  {% if courtCase.reference %}
    {{ courtCase.reference }} at
  {% endif %}
  {{ courtCase.courtName | default("N/A") }} on {{ courtCase.appearanceDate | formatDate | default("N/A") }}

</h2>

{% for sentence in sentences %}
  {% set sentenceDate = sentence.sentenceDate | formatDate if sentence.sentenceDate else 'N/A' %}

  {# TODO sentence.consecutiveToChargeNumber is never set, needs api change #}
  {# TODO will prob align this offenceCard with RAS #}
  {{ offenceCard({
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate,
    offenceEndDate: sentence.offenceEndDate | formatDate,
    countNumber: sentence.countNumber,
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    consecutiveTo: sentence.consecutiveToChargeNumber,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentenceDate | formatDate,
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4'
{% endfor %}

{% if expiredSentences.length %}
  {% set expiredHtml %}
    {% for sentence in expiredSentences %}
      {{sentenceCard(sentence)}}
    {% endfor %}
  {% endset %}
  {{ govukDetails({
    summaryText: "View sentences with an expired SLED (" + expiredSentences.length + ")",
    html: expiredHtml
  }) }}
{% endif %}

{% if ineligibleSentences.length %}
  {% set ineligibleHtml %}
    {% for sentence in ineligibleSentences %}
      {{sentenceCard(sentence)}}
    {% endfor %}
  {% endset %}
  {{ govukDetails({
    summaryText: "View sentences that are ineligible for recall (" + ineligibleSentences.length + ")",
    html: ineligibleHtml
  }) }}
{% endif %}
 
