{% from "hmpps/components/court-cases-release-dates/offence-card/macro.njk" import offenceCard %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

<h2 data-qa="court-case-main-heading" class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-top-3 govuk-!-margin-bottom-3">
  {% if courtCase.reference %}
    {{ courtCase.reference }} at
  {% endif %}
  {{ courtCase.courtName | default("N/A") }} on {{ courtCase.appearanceDate | formatDate('DD/MM/YYYY') | default("N/A") }}

</h2>

{% for sentence in sentences %}
  {{ offenceCard({
    countNumber: sentence.countNumber,
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate('DD/MM/YYYY'),
    offenceEndDate: sentence.offenceEndDate | formatDate('DD/MM/YYYY'),
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentence.sentenceDate | formatDate('DD/MM/YYYY'),
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4',
    consecutiveTo: sentence.consecutiveTo
}) }}
{% endfor %}

{% if expiredSentences.length %}
  {% set expiredHtml %}
    {% for sentence in expiredSentences %}
        {{ offenceCard({
    countNumber: sentence.countNumber,
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate('DD/MM/YYYY'),
    offenceEndDate: sentence.offenceEndDate | formatDate('DD/MM/YYYY'),
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentence.sentenceDate | formatDate('DD/MM/YYYY'),
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4',
    consecutiveTo: sentence.consecutiveTo
}) }}
    {% endfor %}
  {% endset %}
  {{ govukDetails({
    summaryText: "View sentences with an expired SLED or LED (" + expiredSentences.length + ")",
    html: expiredHtml
  }) }}
{% endif %}

{% if ineligibleSentences.length %}
  {% set ineligibleHtml %}
    {% for sentence in ineligibleSentences %}
        {{ offenceCard({
    countNumber: sentence.countNumber,
    offenceCode: sentence.offenceCode,
    offenceName: sentence.offenceDescription,
    offenceStartDate: sentence.offenceStartDate | formatDate('DD/MM/YYYY'),
    offenceEndDate: sentence.offenceEndDate | formatDate('DD/MM/YYYY'),
    lineNumber: sentence.lineNumber if sentence.sentenceLegacyData,
    terrorRelated: sentence.terrorRelated,
    isSentenced: true,
    periodLengths: sentence.periodLengths | periodLengthsToSentenceLengths,
    sentenceServeType: sentence.sentenceServeType,
    sentenceType: sentence.sentenceType | sentenceTypeValueOrLegacy(sentence.sentenceLegacyData),
    sentenceDate: sentence.sentenceDate | formatDate('DD/MM/YYYY'),
    fineAmount: sentence.fineAmount,
    detailsClasses: 'govuk-!-padding-4',
    consecutiveTo: sentence.consecutiveTo
}) }}
    {% endfor %}
  {% endset %}
  {{ govukDetails({
    summaryText: "View sentences that are ineligible for recall (" + ineligibleSentences.length + ")",
    html: ineligibleHtml
  }) }}
{% endif %}
 
